<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de Presentes</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/listapresentes.css' %}">
    <link rel="icon" href="{% static 'imagem/aliancaico.png' %}">
</head>
<body>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 titulo">
        <h1>Lista de Presentes</h1>
    </div>
    <div class="col-md-2"></div>
</div>
<div class="row linhah1">
    <div class="col-md-12"></div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 menutopo">
        <ul>
            <a href="{% url 'casamento.views.tela_inicial'%}">
                <li>Tela Inicial</li>
            </a>
            <a href="{% url 'casamento.views.local_casamento'%}">
                <li>Local</li>
            </a>
            <a href="{% url 'casamento.views.linkpresente'%}">
                <li>Lista Presentes</li>
            </a>
            <a href="{% url 'casamento.views.presenca'%}">
                <li>Cofirmação de Presença</li>
            </a>
            <a href="">
                <li>Blog</li>
            </a>
            <a href="">
                <li>Contato</li>
            </a>
        </ul>
    </div>
    <div class="col-md-1"></div>
</div>

<div class="row">

    <div class="col-md-1"></div>
    <div class="col-md-10 caixa">
        {% for pre in presentes %}
            <div class="caixapresente">
                {% if pre.comprado %}
                    <div class="textocomprado">Comprado</div>
                    <img src="{{pre.img.url}}" class="imgtxtcomprado" >
                {% else %}
                    <img src="{{pre.img.url}}" class="imgtxt" >
                {% endif %}
                <div class="textos">
                    <p class="nomepresente">{{pre.nome}}</p>
                    <p class="descricao">{{pre.descricao}}</p>
                    {% if pre.comprado == False %}
                        <a href="{{pre.link}}" class="link" >Onde comprar?</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}


        {% if presentes.has_previous %}
            <a href="?page={{ presentes.previous_page_number }}">anterior</a> |
        {% endif %}


        {% for pagenumber in presentes.paginator.page_range %}
                <a href="?page={{ pagenumber }}">{{ pagenumber }}</a> |
        {% endfor %}

        {% if presentes.has_next %}
                <a href="?page={{ presentes.next_page_number }}">próxima</a>
        {% endif %}

    </div>
    <div class="col-md-1"></div>

</div>

</body>
</html>