<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/presenca.css' %}"/>
    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link rel="icon" href="{% static 'imagem/aliancaico.png' %}">
    <script type="text/javascript" src="{% static 'scripts/validacao.js' %}"></script>
    <title>Confirmação Convidado</title>
</head>
<body>

<div class="row">
    <div class="col-md-12 titulo">
        <h1>Confirmação de Convidado</h1>
    </div>
</div>
<div class="row linhah1">
    <div class="col-md-12"></div>
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 menutopo">
        <ul>
            <a href="{% url 'casamento.views.tela_inicial'%}">
                <li>Tela Inicial</li>
            </a>
            <a href="{% url 'casamento.views.local_casamento'%}">
                <li>Local</li>
            </a>
            <a href="{% url 'casamento.views.linkpresente'%}">                                                                          
                <li>Lista Presentes</li>
            </a>
            <a href="{% url 'casamento.views.presenca'%}">
                <li>Cofirmação de Presença</li>
            </a>
            <!--<a href="">
                <li>Blog</li>
            </a>-->
            <a href="{% url 'casamento.views.contato'%}">
                <li>Contato</li>
            </a>
        </ul>
    </div>
    <div class="col-md-1"></div>
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 caixa">

        {% block content %}
        <form action="confirma/" name="form1" method="post">{% csrf_token %}
            <div class="caixaForm">

                <div class="inputcaixa">
                    <label for="nome">Nome:</label>
                    <input id="nome" name="nome" type="text">
                </div>

                <div class="checkcaixa">
                    <span>Vai estar presente?</span>
                    <div class="caixaradio">
                        <div class="textoradio">
                            <input type="radio" name="presenca" value="sim" checked="checked">Sim
                        </div>
                        <div class="textoradio">
                            <input type="radio" name="presenca" value="nao">Não
                        </div>
                    </div>
                </div>

                <div>
                    <div class="lbconvidados">Quantos pessoas vão com você?</div>
                    <input id="numero" name="pessoas" type="number">
                </div>

                <button type="submit" onclick="return validar()">Enviar</button>

            </div>
        </form>
        {% endblock %}
    </div>
    <div class="col-md-1"></div>
</div>

</body>
</html>