<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Casamento Filipe e Mayara</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/telainical.css' %}">

        <script type="text/javascript" src="{% static 'scripts/moment.js' %}"></script>
        <script type="text/javascript">
            function calcularQtdHora(){
                var data1 = moment( new Date(), "DD/MM/YYYY hh:mm");
                var data2 = moment('11/10/2016 19:30', "DD/MM/YYYY hh:mm");
                var diferenca = data2.diff(data1, 'days');
                var paragrafo = document.getElementById("dias");
                paragrafo.innerHTML = diferenca;
                console.log(diferenca);
            }
         </script>

    </head>
    <body onload="calcularQtdHora()">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 titulo">
                <h1>Filipe e Mayara</h1>
            </div>
            <div class="col-md-2"></div>
        </div>

        <div class="row linhah1">
            <div class="col-md-12"></div>
        </div>

        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10 menutopo">
                <ul>
                    <a href="{% url 'casamento.views.tela_inicial'%}"><li>Tela Inicial</li></a>
                    <a href="{% url 'casamento.views.local_casamento'%}"><li>Local</li></a>
                    <a href="{% url 'casamento.views.listapresentes'%}"><li>Lista Presentes</li></a>
                    <a href="{% url 'casamento.views.presenca'%}"><li>Cofirmação de Presença</li></a>
                    <a href=""><li>Blog</li></a>
                    <a href=""><li>Contato</li></a>
                </ul>
            </div>
            <div class="col-md-1"></div>
        </div>

        <div class="row">
             <div class="col-md-2"></div>
            <div class="col-md-8 coracao">
                <img src="{% static 'imagem/filipeemayara.png' %}">
            </div>
            <div class="col-md-2"></div>
        </div>

        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5 colunat">
                <div class="caixa">
                    <h2>Como nos conhecemos!</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam aut consectetur dolorum et ex, excepturi facere, in incidunt laudantium minima modi numquam quidem rem repudiandae rerum suscipit veritatis voluptate voluptates. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores eius excepturi ipsum nihil nisi nostrum repellendus. Aperiam asperiores culpa enim excepturi facere harum ipsam modi, nisi non officia repellat vel. Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquid corporis deserunt dolores ducimus earum eos error eum ex explicabo ipsa itaque laudantium nihil odit officia quam tempora ullam, ut!</p>
                </div>
            </div>
            <div class="col-md-5 colunat">
                <div class="caixa">
                    <div class="datacasa">
                        11/10/2016
                    </div>
                    <div>
                        <div class="caidata">
                            Faltam <div id="dias" class="dias"></div> dias!
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>

    </body>
</html>