body{
    background: url("../imagem/fundo.jpg");
}

.titulo{
    padding: 15px;
}

p{
    text-indent: 50px;
    text-align: justify;
}

h1{
    margin: 0px;
    text-align: center;
    color: #FFC0CB;
    font-family: 'Lobster';
    font-size: 100px;
    font-weight: normal;
    text-shadow: 1px 1px 1px #888888;
}

.linhah1{
    background: #FFFFFF;
    box-shadow: 2px 2px 2px #888888;
    min-height: 10px;
}

li{
    border: 0px solid;
    border-radius: 10px;
    list-style-type:none;
    text-align: center;
    display: inline-block;
    padding: 1px 5px;
}

ul{
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.menutopo{
    background: #FFFFFF;
    border: 0px solid;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #888888;
    margin: 10px 0px;
}

.menutopo ul li{
    margin: 5px 20px;
    font-size: 18px;
    color: #FFC0CB;
    font-family: 'Lobster';
}

.menutopo ul li:hover{
    background: #FFC0CB;
    color: #FFFFFF;
}

.caixa{
    background: #FFFFFF;
    box-shadow: 2px 2px 2px #888888;
    min-height: 550px;
    padding: 5px 15px;
    border: 0px solid;
    border-radius: 5px;
    overflow: auto;
    margin: 0px 0px 20px 0px;

}
.caixapessoa{
    overflow: auto;
    width: 540px;
    display: table;
    margin: 10px 0px 0px 10px;
}

.imgpessoa{
    border: 0px solid;
    border-radius: 5px;
    width: 250px;
}

.imgface{
    border: 0px solid;
    border-radius: 5px;
    width: 40px;
    margin: 10px 0px 0px 10px;
}

.textodados{
    color: #FFC0CB;
    font-family: 'Lobster';
    font-size: 20px;
    margin: 0px 0px 0px 10px;
}

.linha{
    display: table-cell;
    width: 500px;
}

.ultimo{
    margin: 0px 0px 10px 0px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}