body{
    background: url("../imagem/bg.jpg");
}

.titulo{
    padding: 15px;
    background: #FFC0CB;
}

p{
    text-indent: 50px;
    text-align: justify;
}

h1{
    margin: 0px;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Lobster';
    font-size: 100px;
    font-weight: normal;
    text-shadow: 1px 1px 1px #888888;
}

.linhah1{
    background: #FFFFFF;
    box-shadow: 2px 2px 2px #888888;
    min-height: 10px;
}

li{
    border: 0px solid;
    border-radius: 10px;
    list-style-type:none;
    text-align: center;
    display: inline-block;
    padding: 1px 5px;
}

ul{
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.menutopo{
    background: #FFFFFF;
    border: 0px solid;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #888888;
    margin: 10px 0px;
}

.menutopo ul li{
    margin: 5px 20px;
    font-size: 18px;
    color: #FFC0CB;
    font-family: 'Lobster';
}

.menutopo ul li:hover{
    background: #FFC0CB;
    color: #FFFFFF;
}

.caixa{
    background: #FFFFFF;
    box-shadow: 2px 2px 2px #888888;
    text-align: center;
    min-height: 550px;
    padding: 5px 15px;
    border: 0px solid;
    border-radius: 5px;
    overflow: auto;
    margin: 0px 0px 30px 0px;
}

.texto{
    text-align: center;
    color: #FFC0CB;
    font-family: 'Lobster';
    font-size: 60px;
    margin: 150px 0px 0px 0px;
}

.linklista{
    border: 1px solid;
    border-radius: 5px;
    background: #FFC0CB;
    font-size: 48px;
    color: #FFFFFF;
    width: 300px;
    font-family: 'Lobster';
    margin: 0 auto;
    padding: 5px;
}

linklista:hover {
    background-color: white;
    color: #FFC0CB;
}

.linklis{
    margin: 35px 0px 0px 0px;
    width: 300px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}