body{
    background: url("../imagem/fundo.jpg");
}

.titulo{
    padding: 15px;
}

p{
    text-indent: 50px;
    text-align: justify;
}

h1{
    margin: 0px;
    text-align: center;
    color: #FFC0CB;
    font-family: 'Lobster';
    font-size: 100px;
    font-weight: normal;
    text-shadow: 1px 1px 1px #888888;
}

.linhah1{
    background: #FFFFFF;
    box-shadow: 2px 2px 2px #888888;
    min-height: 10px;
}

li{
    border: 0px solid;
    border-radius: 10px;
    list-style-type:none;
    text-align: center;
    display: inline-block;
    padding: 1px 5px;
}

ul{
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.menutopo{
    background: #FFFFFF;
    border: 0px solid;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #888888;
    margin: 10px 0px;
}

.menutopo ul li{
    margin: 5px 20px;
    font-size: 18px;
    color: #FFC0CB;
    font-family: 'Lobster';
}

.menutopo ul li:hover{
    background: #FFC0CB;
    color: #FFFFFF;
}

.caixa{
    background: #FFFFFF;
    box-shadow: 2px 2px 2px #888888;
    text-align: center;
    min-height: 550px;
    padding: 5px 15px;
    border: 0px solid;
    border-radius: 5px;
    overflow: auto;
}

.mapa{
    margin: 10px 0px;
    width: 100%;
    height: 500px;
    box-shadow: 1px 1px 1px #888888;
    display: inline-block;
}

.esp{
    margin: 20px 0px 0px 0px;
    padding: 0px;
}
.imgtxt{
    width: 90%;
    box-shadow: 2px 2px 2px #888888;
    border: 0px solid;
    border-radius: 25px;
    margin: 30px 0px 0px 0px;
}

.caixadescricao{
    float: left;
    padding: 10px;
    width: 50%;
    overflow: auto;
    text-align: center
}

.caixamapa{

    float: right;
    padding: 10px;
    height: 400px;
    width: 50%;
    overflow: auto;
    text-align: center;

}

h2{
    text-align: center;
    color: #FFC0CB;
    font-family: 'Lobster';
    font-size: 50px;
    text-shadow: 1px 1px 1px #888888;
}

p{
    text-indent: 50px;
    text-align: justify;
    padding: 0px 50px;
}
