body{
    background: url("../imagem/fundo.jpg");
}

.titulo{
    padding: 15px;
}

h1{
    margin: 0px;
    text-align: center;
    color: #FFC0CB;
    font-family: 'Lobster';
    font-size: 100px;
    font-weight: normal;
    text-shadow: 1px 1px 1px #888888;
}

p{
    text-indent: 50px;
    text-align: justify;
}

.linhah1{
    background: #FFFFFF;
    box-shadow: 2px 2px 2px #888888;
    min-height: 10px;
}

li{
    border: 0px solid;
    border-radius: 10px;
    list-style-type:none;
    text-align: center;
    display: inline-block;
    padding: 1px 5px;
}

ul{
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.menutopo{
    background: #FFFFFF;
    border: 0px solid;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #888888;
    margin: 10px 0px 10px 0px;
}

.menutopo ul li{
    margin: 5px 20px;
    font-size: 18px;
    color: #FFC0CB;
    font-family: 'Lobster';
}

.menutopo ul li:hover{
    background: #FFC0CB;
    color: #FFFFFF;
}

input[type=text] {
    border: none;
    font-size: 40px;
    border-bottom: 1px solid #FFC0CB;
    margin: 0px 0px 0px 10px;
    color: #FFC0CB;
}

input[type=text]:focus {
    background-color: white;
    outline: none !important;
}

label{
    font-family: "Lobster", Georgia, Serif;
    font-size: 40px;
    color: #FFC0CB;
}

.caixa{
    background-color: white;
    border: 0px solid red;
    border-radius: 5px;
    margin: 10px 0px 50px 0px;
    min-height: 600px;
    box-shadow: 2px 2px 2px #888888;
}

.caixaForm{
    text-align: center;
}

.checkcaixa{
    overflow: auto;
    margin: 15px 0px 0px 0px;
}
.inputcaixa{
    margin: 80px 0px 0px 0px;
}

button {
    margin: 15px 0px 0px 0px;
    background-color: white;
    color: #FFC0CB;
    font-family: "Lobster", Georgia, Serif;
    font-size: 40px;
    border-radius: 4px;
    border: 2px solid #FFC0CB;]
    padding: 15px 32px;
}

button:hover {
    background-color: #FFC0CB;
    color: white;
}

.lbconvidados{
    font-family: "Lobster", Georgia, Serif;
    font-size: 40px;
    color: #FFC0CB;
}

#numero{
    width: 60px;
    text-align: center;
    min-height: 50px;
    font-family: "Lobster", Georgia, Serif;
    border: none;
    font-size: 40px;
    border: 1px solid #FFC0CB;
    margin: 10px 0px 0px 0px;
    color: #FFC0CB;
}

#presenca{
    -ms-transform: scale(2);
    -moz-transform: scale(2);
    -webkit-transform: scale(2);
    -o-transform: scale(2);
    padding: 10px;
    margin: 0px 15px 0px 0px;
}

.textoradio{
    font-family: "Lobster", Georgia, Serif;
    font-size: 40px;
    color: #FFC0CB;
    display: inline-block;
    margin: 0px 5px;
}

span{
    font-family: "Lobster", Georgia, Serif;
    font-size: 40px;
    color: #FFC0CB;
}

.caixaradio{
    text-align: center;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}